img {
  max-width:100%;
  max-height: auto;
}

.navbar-brand {
  max-height: 250px;
  max-width: 250px;
  display: table;
}

.nav {
  display: table;
}

.navbar-nav {
  display: table;
}

.nav li {
  vertical-align: middle;
}

.navbar-nav li {
  padding-top: 0.4em;
  vertical-align: middle;
}
